* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

.App-warm,
.App-night {
  background-image: url("./morning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s ease-in;
}

.App-night {
  background-image: url("./night.jpg");
}

main {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.search-bar {
  width: 100%;
  margin: 0px auto 40px;
}

#searchBar1,
#searchBar {
  width: 80%;
  padding: 15px;
  margin: 30px auto;

  background: rgba(255, 255, 255, 0.6);

  outline: none;
  appearance: none;
  border: none;

  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.699);

  font-size: 20px;

  transition: 0.4s ease;
}

#searchBar {
  border-radius: 0px 0px 16px 16px;
  margin-top: 0px;
}

#searchBar:focus,
#searchBar1:focus {
  background: rgba(255, 255, 255, 0.9);
}

#searchBar:hover,
#searchBar1:hover {
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
}

#country,
.date,
#weather,
.notFound,
.aqi {
  max-width: fit-content;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 3px black;
  margin: 0px auto 20px;
  transition: 0.5s ease-out;
}

.date {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
}

#temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;

  background-color: rgba(255, 252, 252, 0.4);
  color: rgb(255, 254, 254);

  font-size: 130px;
  border-radius: 20px;
  font-weight: 800;
  padding: 5px 25px;

  text-shadow: 3px 3px black;
  box-shadow: 3px 3px black;

  transition: 0.5s ease-out;
}

#weather {
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
}

h1 {
  font-size: 3em;
  padding: 10px 20px;
  transition: 0.5s ease;
}


hr {
  border: 0px;
  width: 100%;
  margin: 0px;
  height: 2px;
  background: rgb(16, 16, 20);
}

.notFound {
  color: red;
  background: rgba(55, 61, 59, 0.466);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 40px;
}

.aqi {
  margin-top: 30px;
  background: rgba(4, 189, 133, 0.829);
  padding: 10px 20px;
  border-radius: 20px;
  text-shadow: none;
}

.aqi span {
  font-weight: 600;
}

#good {
  color: rgb(7, 226, 7);
}

#moderate {
  color: yellow;
}

#unhealthy_4_sensitive {
  color: orange;
}

#unhealthy {
  color: red;
}

#very_Unhealthy {
  color: purple;
}

#hazardous {
  color: brown;
}

.date:hover {
  font-size: 30px;
}

#country:hover {
  font-size: 40px;
}

#temp:hover {
  font-size: 150px;
}

#weather:hover {
  font-size: 55px;
}

@media (max-width: 500px) {
  body {
    font-size: 15px;
  }
  #temp {
    font-size: 100px;
  }

  #temp:hover {
    font-size: 120px;
  }

  #country,
  .date {
    font-size: 25px;
  }

  #weather {
    font-size: 35px;
  }

  .date:hover,
  #country:hover {
    font-size: 35px;
  }

  #weather:hover {
    font-size: 45px;
  }
}
