* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
  color: white;
  font-size: 10px;
  text-align: center;
}

.App {
  background-image: url("./morning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App-warm {
  background-image: url("./morning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s ease-in;
}

.App-night {
  background-image: url("./night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s ease-in;
}

main {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.search-bar {
  width: 100%;
  margin: 0 0 75px;
}

#searchBar1 {
  width: 80%;
  padding: 15px;
  margin-top: 30px;

  background: rgba(255, 255, 255, 0.6);

  outline: none;
  appearance: none;
  border: none;

  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.699);

  font-size: 20px;

  transition: 0.4s ease;
}

#searchBar {
  display: block;
  width: 80%;
  padding: 15px;

  background: rgba(255, 255, 255, 0.6);

  outline: none;
  appearance: none;
  border: none;

  border-radius: 0px 0px 16px 16px;
  margin: -20px auto 100px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.699);

  font-size: 20px;

  transition: 0.4s ease;
}

#searchBar:focus,
#searchBar1:focus {
  background: rgba(255, 255, 255, 0.9);
}

#searchBar:hover,
#searchBar1:hover {
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
}

.location-box #location {
  font-size: 32px;
  font-weight: 500;
  text-shadow: 3px 3px black;
  margin-bottom: 20px;
  transition: 0.7s ease-out;
}

.location-box #date {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 3px 3px black;
  margin-bottom: 20px;
  transition: 0.7s ease-out;
}

#date1 {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 3px 3px black;
  margin-top: 20px;
}

.weather-box #temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 252, 252, 0.4);
  color: rgb(255, 254, 254);
  font-size: 150px;
  border-radius: 20px;
  font-weight: 900;
  padding: 5px 25px;
  text-shadow: 3px 3px black;
  box-shadow: 3px 3px black;
  transition: 0.7s ease-out;
}

.weather-box #weather {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px black;
  margin-top: 20px;
  transition: 0.7s ease-out;
}

h1 {
  font-size: 3em;
  padding: 10px 20px;
  transition: 0.5s ease;
}

#date:hover,
#location:hover {
  font-size: 50px;
}

#temp:hover {
  font-size: 200px;
}

#weather:hover {
  font-size: 70px;
}

@media (max-width: 500px) {
  .weather-box #temp {
    font-size: 120px;
  }

  #temp:hover {
    font-size: 140px;
  }
}
