* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

.App-warm,
.App-night {
  background-image: url("./morning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s ease-in;
}

.App-night {
  background-image: url("./night.jpg");
}

main {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.search-bar {
  width: 100%;
  margin: 0px auto 40px;
}

#searchBar1,
#searchBar {
  width: 80%;
  padding: 15px;
  margin: 30px auto;

  background: rgba(255, 255, 255, 0.6);

  outline: none;
  appearance: none;
  border: none;

  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.699);

  font-size: 20px;

  transition: 0.4s ease;
}

#searchBar {
  border-radius: 0px 0px 16px 16px;
  margin-top: 0px;
}

#searchBar:focus,
#searchBar1:focus {
  background: rgba(255, 255, 255, 0.9);
}

#searchBar:hover,
#searchBar1:hover {
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
}

#country,
.date,
#weather,
.notFound,
.aqi {
  max-width: fit-content;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 3px 3px black;
  margin: 0px auto 20px;
  transition: 0.5s ease-out;
}

.date {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

#temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;

  background-color: rgba(255, 252, 252, 0.4);
  color: rgb(255, 254, 254);

  font-size: 10rem;
  border-radius: 20px;
  font-weight: 800;
  padding: 5px 25px;

  text-shadow: 3px 3px black;
  box-shadow: 3px 3px black;

  transition: 0.5s ease-out;
}

#weather {
  font-size: 2.7rem;
  font-weight: 700;
  margin-top: 20px;
}

h1 {
  font-size: 2.5rem;
  padding: 40px 20px;
  transition: 0.5s ease;
}

.list_flex {
  display: flex;
  justify-content: space-evenly;
}

ul {
  font-size: 2rem;
  list-style: none;
  width: fit-content;
}

hr {
  border: 0px;
  width: 100%;
  margin: 10px 0px;
  height: 3px;
  background: rgb(16, 16, 20);
}

.notFound {
  color: red;
  background: rgba(55, 61, 59, 0.466);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 40px;
}

.aqi {
  min-width: 45%;
  margin: 30px auto 0px;
  background: rgba(4, 189, 133, 0.829);
  padding: 10px 20px;
  border-radius: 20px;
  text-shadow: none;
}

.aqi span {
  font-weight: 600;
}

li {
  color: bisque;
  text-align: left;
  padding: 5px 10px;
}

li:nth-child(1) {
  color: black;
  font-weight: bold;
}

#good {
  color: rgb(7, 226, 7);
}

#moderate {
  color: yellow;
}

#unhealthy_4_sensitive {
  color: orange;
}

#unhealthy {
  color: red;
}

#very_Unhealthy {
  color: purple;
}

#hazardous {
  color: brown;
}

#temp:hover,
.date:hover,
#country:hover,
#weather:hover {
  transform: scale(1.3);
}

@media (max-width: 1000px) {
  ul {
    font-size: 1.7rem;
  }
}

@media (max-width: 510px) {
  #temp {
    font-size: 9rem;
  }

  #country,
  .date {
    font-size: 1.5rem;
  }

  #weather {
    font-size: 2rem;
  }

  .aqi {
    font-size: 1.8rem;
  }

  ul {
    font-size: 1.3rem;
  }
}
